/* _content/ABCLearn/Views/Shared/_endScript.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-zuhbhio72c] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-zuhbhio72c] {
  color: #0077cc;
}

.btn-primary[b-zuhbhio72c] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-zuhbhio72c], .nav-pills .show > .nav-link[b-zuhbhio72c] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-zuhbhio72c] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-zuhbhio72c] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-zuhbhio72c] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-zuhbhio72c] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-zuhbhio72c] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/ABCLearn/Views/Shared/_footer.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-9g8m6oqh8d] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-9g8m6oqh8d] {
  color: #0077cc;
}

.btn-primary[b-9g8m6oqh8d] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-9g8m6oqh8d], .nav-pills .show > .nav-link[b-9g8m6oqh8d] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-9g8m6oqh8d] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-9g8m6oqh8d] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-9g8m6oqh8d] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-9g8m6oqh8d] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-9g8m6oqh8d] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/ABCLearn/Views/Shared/_head.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-zqknymvrxw] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-zqknymvrxw] {
  color: #0077cc;
}

.btn-primary[b-zqknymvrxw] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-zqknymvrxw], .nav-pills .show > .nav-link[b-zqknymvrxw] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-zqknymvrxw] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-zqknymvrxw] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-zqknymvrxw] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-zqknymvrxw] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-zqknymvrxw] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/ABCLearn/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-avwmwzlapy] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-avwmwzlapy] {
  color: #0077cc;
}

.btn-primary[b-avwmwzlapy] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-avwmwzlapy], .nav-pills .show > .nav-link[b-avwmwzlapy] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-avwmwzlapy] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-avwmwzlapy] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-avwmwzlapy] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-avwmwzlapy] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-avwmwzlapy] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/ABCLearn/Views/Shared/_navAdmin.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-3oendflbjb] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-3oendflbjb] {
  color: #0077cc;
}

.btn-primary[b-3oendflbjb] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-3oendflbjb], .nav-pills .show > .nav-link[b-3oendflbjb] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-3oendflbjb] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-3oendflbjb] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-3oendflbjb] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-3oendflbjb] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-3oendflbjb] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/ABCLearn/Views/Shared/_navEnd.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-nch2p7fskc] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-nch2p7fskc] {
  color: #0077cc;
}

.btn-primary[b-nch2p7fskc] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-nch2p7fskc], .nav-pills .show > .nav-link[b-nch2p7fskc] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-nch2p7fskc] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-nch2p7fskc] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-nch2p7fskc] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-nch2p7fskc] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-nch2p7fskc] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/ABCLearn/Views/Shared/_navStart.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-qwh13evkyd] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-qwh13evkyd] {
  color: #0077cc;
}

.btn-primary[b-qwh13evkyd] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-qwh13evkyd], .nav-pills .show > .nav-link[b-qwh13evkyd] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-qwh13evkyd] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-qwh13evkyd] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-qwh13evkyd] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-qwh13evkyd] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-qwh13evkyd] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/ABCLearn/Views/Shared/_spanner.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-kdub2066db] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-kdub2066db] {
  color: #0077cc;
}

.btn-primary[b-kdub2066db] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-kdub2066db], .nav-pills .show > .nav-link[b-kdub2066db] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-kdub2066db] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-kdub2066db] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-kdub2066db] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-kdub2066db] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-kdub2066db] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
