/* _content/ABCLearnAdmin/Views/Shared/_endScript.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-84oh2edzpv] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-84oh2edzpv] {
  color: #0077cc;
}

.btn-primary[b-84oh2edzpv] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-84oh2edzpv], .nav-pills .show > .nav-link[b-84oh2edzpv] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-84oh2edzpv] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-84oh2edzpv] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-84oh2edzpv] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-84oh2edzpv] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-84oh2edzpv] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/ABCLearnAdmin/Views/Shared/_footer.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-96xrqbsgld] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-96xrqbsgld] {
  color: #0077cc;
}

.btn-primary[b-96xrqbsgld] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-96xrqbsgld], .nav-pills .show > .nav-link[b-96xrqbsgld] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-96xrqbsgld] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-96xrqbsgld] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-96xrqbsgld] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-96xrqbsgld] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-96xrqbsgld] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/ABCLearnAdmin/Views/Shared/_head.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-4pqaqwb1zw] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-4pqaqwb1zw] {
  color: #0077cc;
}

.btn-primary[b-4pqaqwb1zw] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-4pqaqwb1zw], .nav-pills .show > .nav-link[b-4pqaqwb1zw] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-4pqaqwb1zw] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-4pqaqwb1zw] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-4pqaqwb1zw] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-4pqaqwb1zw] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-4pqaqwb1zw] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/ABCLearnAdmin/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-o7b6jzmggq] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-o7b6jzmggq] {
  color: #0077cc;
}

.btn-primary[b-o7b6jzmggq] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-o7b6jzmggq], .nav-pills .show > .nav-link[b-o7b6jzmggq] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-o7b6jzmggq] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-o7b6jzmggq] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-o7b6jzmggq] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-o7b6jzmggq] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-o7b6jzmggq] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/ABCLearnAdmin/Views/Shared/_navAdmin.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-29gy6r6ulv] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-29gy6r6ulv] {
  color: #0077cc;
}

.btn-primary[b-29gy6r6ulv] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-29gy6r6ulv], .nav-pills .show > .nav-link[b-29gy6r6ulv] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-29gy6r6ulv] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-29gy6r6ulv] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-29gy6r6ulv] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-29gy6r6ulv] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-29gy6r6ulv] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/ABCLearnAdmin/Views/Shared/_navEnd.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-gqk4tv60q3] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-gqk4tv60q3] {
  color: #0077cc;
}

.btn-primary[b-gqk4tv60q3] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-gqk4tv60q3], .nav-pills .show > .nav-link[b-gqk4tv60q3] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-gqk4tv60q3] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-gqk4tv60q3] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-gqk4tv60q3] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-gqk4tv60q3] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-gqk4tv60q3] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/ABCLearnAdmin/Views/Shared/_navStart.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-9kh460w4xo] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-9kh460w4xo] {
  color: #0077cc;
}

.btn-primary[b-9kh460w4xo] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-9kh460w4xo], .nav-pills .show > .nav-link[b-9kh460w4xo] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-9kh460w4xo] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-9kh460w4xo] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-9kh460w4xo] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-9kh460w4xo] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-9kh460w4xo] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/ABCLearnAdmin/Views/Shared/_spanner.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-lesjrdxcad] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-lesjrdxcad] {
  color: #0077cc;
}

.btn-primary[b-lesjrdxcad] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-lesjrdxcad], .nav-pills .show > .nav-link[b-lesjrdxcad] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-lesjrdxcad] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-lesjrdxcad] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-lesjrdxcad] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-lesjrdxcad] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-lesjrdxcad] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
