<!--
	<div class="loading-page" style="z-index: 10000; position: fixed">
    <ion-icon id="svg" name="leaf-outline"></ion-icon>
    <div class="name-container">
        <div class="logo-name">ABCLearn</div>
    </div>
</div>

-->